@import '~antd/dist/antd.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.post__list {
  width: 100%;
  padding: 20px;
}

.user {
  padding: 20px;
  border: 1px solid orange;
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.w100 {
  width: 100%;
}

.postAnimation {
  margin: 20px;
}

.postAnimation-enter {
  transform: translateX(-350px);
}

.postAnimation-enter-active {
  transform: translateX(0px);
  transition: all 500ms ease-in;
}

.postAnimation-exit {
  opacity: 1;
}

.postAnimation-exit-active {
  transform: translateX(-350px);
  transition: all 500ms ease-in;
}